asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
beautifulsoup4==4.7.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
Deprecated==1.2.5
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
lxml==4.3.4
parsel==1.5.1
pkg-resources==0.0.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
PyDispatcher==2.0.5
PyGithub==1.43.7
PyHamcrest==1.9.0
PyJWT==1.7.1
pyOpenSSL==19.0.0
queuelib==1.5.0
requests==2.22.0
Scrapy==1.6.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.9.2
Twisted==19.2.1
urllib3==1.25.3
w3lib==1.20.0
wrapt==1.11.2
zope.interface==4.6.0
